.container {
  width: 100%;
  display: flex;
  background-color: rgb(30, 175, 30);
}
.left {
  width: 15rem;
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;
  color: white;
}
.form {
  width: 90%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
  position: sticky;
  top: 0;
}
.form label {
  font-size: 1.2rem;
}
.form select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
}
.form button {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(30, 175, 30);
  border-radius: 10px;
}
.right {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 575px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
}
